
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 

body
{

	background:#fff;
/* background: #392d1f;
  background: grey;
*/}


#main_header h1
{

	text-shadow: 1px 0px 3px #4d4d4d;
	color: black;
	text-align: center;
	line-height: normal;
	font: 90px 'LeagueGothicRegular';
	text-align: center;line-height: normal;
}

#Main_Title
{
	text-shadow: 1px 0px 1px #4d4d4d;
	color: black;
	text-align: center;
	line-height: normal;
	font: 40px 'LeagueGothicRegular';
	letter-spacing: 0;
	font-size: 2.6em;
	text-align: center;
    font-variant: small-caps;
}


.mainpage_wall
{
	width: 100%;
	
    border: 10px solid transparent;
    border-width: 10px 0;
background-image: linear-gradient(skyblue, skyblue), linear-gradient(to bottom right, transparent 50.5%, skyblue 50.5%), linear-gradient(to bottom left, transparent 50.5%, skyblue 50.5%), linear-gradient(to top right, transparent 50.5%, skyblue 50.5%), linear-gradient(to top left, transparent 50.5%,skyblue 50.5%);
background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
background-position: 0 0, 10px 0, 5px 0px, 10px 100%, 8px 100%;
background-size: auto auto, 10px 10px, 10px 10px, 10px 10px, 10px 10px;
background-clip: padding-box, border-box, border-box, border-box, border-box;
background-origin: padding-box, border-box, border-box, border-box, border-box;


}

.mainpage_wall2
{
	width: 100%;
	
    border: 10px solid transparent;
    border-width: 10px 0;
    background-image:
        linear-gradient(lightgreen, lightgreen),
        linear-gradient(to bottom right, transparent 50.5%, lightgreen 50.5%),
        linear-gradient(to bottom left, transparent 50.5%, lightgreen 50.5%),
        linear-gradient(to top right, transparent 50.5%, lightgreen 50.5%),
        linear-gradient(to top left, transparent 50.5%, lightgreen 50.5%);
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 20px 0, 20px 0, 10px 100%, 20px 100%;
    background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box;

}

.mainpage_wall3
{
	
	font-family: 'Trebuchet MS';
	color: #444;
	text-decoration: none;
	word-spacing: normal;
	text-align: left;
	letter-spacing: 0;
	line-height: 1.5em;
	font-weight: normal;
    font-variant: small-caps;


	width: 100%;
	padding: 10px;
	margin-left: -10px;
	font-size: 18px;
    border: 1px black solid;
 	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.35); 
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.35);
	box-shadow: -1px 1px 10px rgba(0,0,0,0.35);

 	background-color: #fefef4;

}

















